@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #171717;
}

.gradient-circle {
  background: radial-gradient(circle, rgba(172, 39, 58, 0.9), transparent 70%, transparent 70%);
  width: 600px;
  height: 600px;
  border-radius: 50%;
}

.dialog-cover-bg {
  background-image: url('/dialog-cover-bg.svg');
  width: 310px;
  height: 82px;
  background-size: cover;
}

.dialog-cover-btn {
  @apply flex items-center rounded-full h-8 border-gray-500 border-2 hover:border-gray-200 hover:text-gray-200 transition duration-300
}