@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #171717;
}

.gradient-circle {
  background: radial-gradient(circle, rgba(172, 39, 58, 0.9), transparent 70%, transparent 70%);
  width: 600px;
  height: 600px;
  border-radius: 50%;
}

.dialog-cover-btn {
  @apply flex items-center justify-center rounded-full border-gray-500 border-2 hover:border-gray-200 hover:text-gray-200 transition duration-300
}

.language-button-container {
  @apply relative h-[38px] w-[38px]
}

.language-button-content {
  @apply h-[38px] w-[38px] absolute bg-[#171717] flex overflow-hidden rounded-full border-gray-500 transition-all duration-300 ease-in-out
}

.to-up {
  bottom: 0;
  @apply flex-col-reverse
}

.to-down {
  top: 0;
  @apply flex-col
}

.dialog-cover {
  @apply border border-solid border-[#8B5CF6] rounded-[18px] w-[310px] h-[70px]
}

.chat-container {
  display: flex;
  width: 310px;
  height: 70px;
  max-height: 70vh;
  position: fixed;
  bottom: 40px;
  left: calc(70% - 155px);
  transition: all 0.3s ease;
}

.chat-container.expanded {
  height: 630px;
  width: 390px;
  left: 70%;
  left: calc(70% - 195px);
}

@media screen and (max-width: 768px) {
  .chat-container {
    left: calc(50% - 155px);
  }

  .chat-container.expanded {
    height: 878px;
    max-height: 80vh;
    width: 626px;
    left: calc(50% - 313px);
  }
}

@media screen and (max-width: 640px) {
  .chat-container {
    left: calc(50% - 155px);
  }

  .chat-container.expanded {
    height: 878px;
    max-height: 80vh;
    width: 426px;
    left: calc(50% - 213px);
  }
}

@media screen and (max-width: 480px) {
  .chat-container {
    left: calc(50% - 50vw);
    width: 100%;
  }

  .dialog-cover {
    width: 100%;
  }

  .chat-container.expanded {
    height: 343px;
    width: 100vw;
    left: calc(50% - 50vw);
  }
}

/* .chat-container {
  @apply flex w-[294px] h-[70px] max-h-[70vh] fixed bottom-10 left-[calc(50%-147px)] transition-all duration-300 ease-in-out md:left-[calc(50%-147px)] xl:left-[calc(70%-147px)]
}

.chat-container.expanded {
  @apply w-[304px] h-[343px] left-[calc(50%-152px)] md:w-[626px] md:max-h-[80vh] md:h-[878px] md:left-[calc(50%-313px)] xl:w-[390px] xl:left-[calc(70%-195px)] xl:h-[630px]
} */

.scalable-button {
  @apply absolute transition-all duration-300 ease-in-out py-1 px-2 min-w-[28px] h-[28px] bg-[#8B5CF6] hover:bg-[#7755c6] rounded-[8px] flex justify-center items-center
}

.scaled {
  @apply rounded-full transform scale-[1.7] translate-y-[-17%]
}

.lock-button {
  @apply absolute opacity-0 transition-all left-1/2 transform -translate-x-1/2 bg-[#323232] hover:bg-[#404040] rounded-lg flex flex-col justify-center items-center w-[24px] py-1 bottom-[50px]
}

.lock-has-slid {
  @apply transform opacity-100
}

.shadow-top {
  -webkit-box-shadow: 0px 6px 50px 62px rgba(21, 21, 21, 1);
  -moz-box-shadow: 0px 6px 50px 62px rgba(21, 21, 21, 1);
  box-shadow: 0px 6px 50px 62px rgba(21, 21, 21, 1);
}